@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Overpass+Mono:300,700&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: 16px;
    font-family: $ff_body;
    line-height: $lh_body;
    background-color: $bg_color;
    color: $main_color;
}

main {
    padding: $m4;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .section_1-2 {
        width: 100%;
        padding: 0 $m4;

        @media(min-width: $bp_large){
            width: 50%;
        }
    }

    .section-fixed .container{
        @media(min-width: $bp_large){
            height: 86vh;
            width: 45vw;
            position: fixed;
        }
    }

    .page {
        display: flex;
        justify-content: center;    
        align-items: center; 
        margin-left: $m3;

        .content {
            width: 75%;
            padding: $m4;
                        
            @media(max-width: $bp_large){
                margin-left: 3rem;
                width: 100%;
            }
        }
    }

    .header-layout {
        @media(max-width: $bp_large){
            margin-left: $m2
        }  
    }
}

.bg_color {background-color: $bg_color}
.main_color {background-color: $main_color}

a:link {
    text-decoration: none;
}

p, ul {
    font-size: $f4;
    font-weight: 100;
}

.b {
    font-weight: 700;
}

.small{
    font-size: $f6;
}

.title {
    font-family: $ff_title;
    text-transform: uppercase;
    font-weight: 700;
    line-height: $lh-heading;
    margin: $m4 0;
    // @media(min-width:$bp_small) {
    //     font-size: $f1;
    // }
}

.t1 {
    font-size: $f1;
}

.t3 {
    font-size: $f3;
    line-height: $lh-large;
}

.small {
    font-size: $f5;
    margin-top: $m7;
}

@mixin button($color, $bg) {
    background-color: $bg;
    border: 2px solid $main_color;
    color: $color;
    cursor: pointer; 
    font-family: $ff_body;
    font-size: $f5;
    padding: $m5;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out .3s;

    &:hover {
        background-color: darken($bg, 3);
        color: darken($color, 3)
    }
}

@mixin button-line($color) {
    border: 1px solid transparentize($color, .4);
    border-radius: 0;
    background-color: transparent;
    color: $color;
    cursor: pointer; 
    font-family: $ff_body;
    font-size: $f5;
    padding: $m5 - 0.075;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out .3s;

    &:hover {
        color: darken($color, 3)
    }
}

.btn {
    @include button($black, $main_color);
}

.btn-line {
    @include button-line($main_color);
}

.btn-black {
    @include button($main_color, $bg_color);
}

.btn-line-black {
    @include button-line($bg_color);
}


.vertical-text{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.horizontal-list {
    padding:  0;
    margin:  0;
    display: flex;
    list-style: none;
    align-items: center;
    
    li {
        margin-right: $m5;

        &:last-child{
            margin-right: 0;
        }
    }
}