$yellow:rgb(250, 255, 175);
$green: #FFCCF4;
$pink: #D9FFCC;
$blue: #BDDFFF;
$black: #000000;

$main_color: $yellow;
$bg_color: $black;

//fonts family
$ff_title: 'Anton', sans-serif;
$ff_body: 'Overpass Mono', sans-serif;

//font sizes
$f1: 6rem;
$f2: 4.8rem;
$f3: 2.4rem;
$f4: 1rem;
$f5: .875rem;
$f6: .75rem;

//Line height
$lh-heading: 1.15;
$lh-body: 1.5;

// Media queries
$bp_x-small: 400px;
$bp_small: 600px;
$bp_medium: 800px;
$bp_large: 1000px;
$bp_x-large: 1200px;

//measure
$m1: 8rem;
$m2: 6.4rem;
$m3: 3.2rem;
$m4: 1.6rem;
$m5: .8rem;
$m6: .4rem;
$m7: .2rem;
