@import '../../globalStyles/variables.scss';

.intro {

    @media (min-width: $bp_medium) {
        padding: 0 $m3;
    } 
    
    .title {
        max-width: 32rem;
        margin-bottom: $m3;
    }
    
    .content {
        margin-bottom: $m3;
        max-width: 36rem;

        p {
            margin-top: 0;
        }
    }
}
