@import '../../globalStyles/variables.scss';

.intro {
    padding: 0 $m3;
    
    .title {
        max-width: 32rem;
        margin-bottom: $m3;
    }
    
    .content {
        margin-bottom: $m3;
        max-width: 36rem;

        p {
            margin-top: 0;
        }
    }
    .cta .btn {
        margin-bottom: $m5;

        @media(min-width: $bp_small) {
            margin-right: $m4;
        }
    }
}
