@import '../../globalStyles/variables.scss';

.add-book {
    form{
        color: $bg_color;
        background-color: $main_color;

        .field {
            padding:0 $m6;
            margin-bottom: $m4;

            label {
                display: block;
                margin-bottom: $m7;
            }
            input, textarea {
                display: block;
                background-color: transparent;
                width: 100%;
                box-shadow: none;
                border: 1px dotted transparentize($bg_color,.4);
                padding: $m7 $m6;
                font-size: $f4*1.3;
                font-family: $ff_body;
                font-weight: 600;
                letter-spacing: -0.05em;
            }
        }

        fieldset.tags-group {
            border: none;
            padding: 0;

            .tag{
                display: none
            }

            label {
                border: 1px solid transparentize($bg_color, .4);
                border-radius: $m7;
                padding: $m7 $m6;
                display: inline-flex;
                margin: $m6 $m6 0 0;
                text-transform: uppercase;
                font-size: $f6;
                font-weight: 500;
                cursor: pointer;
                transition: all ease-in .2s;

                &:hover {
                    background-color: transparentize(white, .7);
                    box-shadow: 0 0 6px transparentize($bg_color, .7);
                }
                &.is-checked {
                    background-color: transparentize(white, .4);
                    border: 1px solid transparentize($bg_color, .2);
                }

            }
        }

        .buttons {
            padding:0 $m6;
            display: flex; 
            justify-content: flex-end;
            align-items: center;

            > *:first-child{
                margin-right: $m6;
            }
        }
    }
}