@import '../../globalStyles/variables.scss';

.tags-group {
    border: none;
    padding: 0;

    a:visited, a:link {
        color: $main_color;
    }
    
    .tag {
        border: 1px solid transparentize($main_color, .4);
        border-radius: $m7;
        padding: $m7 $m6;
        display: inline-flex;
        margin: $m6 $m6 0 0;
        text-transform: uppercase;
        font-size: $f6;
        font-weight: 500;
        cursor: pointer;
        transition: all ease-in .2s;

        &:hover {
            background-color: transparentize(white, .7);
            box-shadow: 0 0 6px transparentize($bg_color, .7);
        }
        &.is-checked {
            background-color: transparentize(white, .4);
            border: 1px solid transparentize($bg_color, .2);
        }
        

    }
}